Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

minos-discovery-minos-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-discovery-minos check
  name: Check minos-discovery-minos
  language: system

kong-discovery-kong-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/kong-discovery-kong check
  name: Check kong-discovery-kong
  language: system

minos-http-aiohttp-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-http-aiohttp check
  name: Check minos-http-aiohttp
  language: system

minos-router-graphql-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-router-graphql check
  name: Check minos-router-graphql
  language: system

minos-broker-rabbitmq-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-rabbitmq check
  name: Check minos-broker-rabbitmq
  language: system

ISSUE #175 * Replacing `RootEntity` by `Entity`.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/exceptions.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-transactions/minos/transactions/repositories/abc.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/impl.py
Due: minos-microservice-aggregate-check

ISSUE #175 * Now `Entity` instances are first-level-citizens.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/collections.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_collections.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_entity/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_entity/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_entity/test_differences.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_integration.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-cqrs/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check

ISSUE #175 * Remove `RootEntity`.
  README.md
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
  packages/core/minos-microservice-cqrs/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check

ISSUE #175 * Fix minor bug related with `Injectable` decorator and type hinting.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
Due: minos-microservice-common-check

ISSUE #175 * Improve performance related with type hints.
  packages/core/minos-microservice-common/minos/common/model/declarative.py
  packages/core/minos-microservice-common/minos/common/model/types/model_types.py
Due: minos-microservice-common-check

ISSUE #175 * Fix lint.
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
Due: minos-microservice-common-check

ISSUE #175 * Improve `ModelType` comparisons. * Minos improvements.
  packages/core/minos-microservice-common/minos/common/model/serializers/avro/data/decoder.py
  packages/core/minos-microservice-common/minos/common/model/types/comparators.py
  packages/core/minos-microservice-common/minos/common/model/types/model_types.py
Due: minos-microservice-common-check

ISSUE #175 * Fix bug.
  packages/core/minos-microservice-common/minos/common/model/types/model_types.py
Due: minos-microservice-common-check

ISSUE #175 * Minor improvements on `AvroDataDecoder`.
  packages/core/minos-microservice-common/minos/common/model/serializers/avro/data/decoder.py
Due: minos-microservice-common-check

ISSUE #175 * Add cache to `is_model_subclass`.
  packages/core/minos-microservice-common/minos/common/model/types/comparators.py
Due: minos-microservice-common-check

ISSUE #175 * Minor change.
  packages/core/minos-microservice-common/minos/common/model/serializers/avro/data/decoder.py
Due: minos-microservice-common-check

ISSUE #450 * Add support for `str` generic types on `Ref`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_models.py
Due: minos-microservice-aggregate-check

ISSUE #450 * Remove `ExternalEntity`.
  README.md
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_differences.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_entity/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_external.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_handlers.py
  packages/core/minos-microservice-cqrs/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check

ISSUE #450 * Add gather.
  packages/core/minos-microservice-transactions/minos/transactions/entries.py
Due: none

ISSUE #450 * Add support for direct `SnapshotRepository` accessing from `RefResolver`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/extractors.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/resolvers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_extractors.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_resolvers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

ISSUE #450 * Fix broken tests.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/resolvers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_resolvers.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_handlers.py
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check

ISSUE #410 * Add `has_one` method to `FieldDiffContainer`. * Add `has_field` method to `Delta`.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/fields.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_fields.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_differences.py
Due: minos-microservice-aggregate-check

ISSUE #50 * Stop deleting already finished saga executions.
  packages/core/minos-microservice-saga/minos/saga/manager.py
  packages/core/minos-microservice-saga/tests/test_saga/test_manager.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-saga-check

ISSUE #50 * Add `find_one` method to `SnapshotRepository`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

Revert "ISSUE #50"
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

ISSUE #453 * Add `find_one` method to `SnapshotRepository`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

ISSUE #453 * Rename `SagaManager` as `SagaRunner`. * Add a brand-new `SagaManager` with the purpose to manage both the `SagaRunner`, `SagaExecutionRepository` and a future `SagaCommitter`.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/minos/saga/executions/status.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
  packages/core/minos-microservice-saga/minos/saga/services.py
  packages/core/minos-microservice-saga/tests/test_saga/test_services.py
Due: minos-microservice-saga-check

ISSUE #50 * Minor improvements related with `setup` and `destroy`.
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
Due: minos-microservice-saga-check

ISSUE #50 * Increase coverage. * Minor improvements.
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_runners.py
  packages/core/minos-microservice-saga/tests/test_saga/test_managers.py
  packages/core/minos-microservice-saga/tests/test_saga/test_services.py
Due: minos-microservice-saga-check

ISSUE #65 * Remove `minos-microservice-networks` from `minos-microservice-transactions` test triggers.
  .github/workflows/minos-microservice-transactions-tests.yml
Due: none

ISSUE #? * Minor improvement.
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
Due: minos-microservice-cqrs-check

ISSUE #? * Fix warnings.
  packages/core/minos-microservice-common/tests/test_common/test_database/test_mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
  packages/core/minos-microservice-networks/tests/utils.py
Due: minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check

ISSUE #50 * Improve `SagaExecution` storing process during `SagaRunner.run` execution.
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_runners.py
Due: minos-microservice-saga-check

* Minor fix.
  README.md
Due: none

* Fix bug related with dependency constraints (2).
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

ISSUE #215 * Add `minos-microservice-saga` as a dependency of `minos-microservice-aggregate`.
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
Due: minos-microservice-aggregate-check

* Minor improvement.
  README.md
Due: none

ISSUE #? * Update dependencies.
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-transactions/pyproject.toml
  packages/plugins/minos-broker-kafka/poetry.lock
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/poetry.lock
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-lmdb/poetry.lock
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

ISSUE #? * Add missing packages to the documentation building.
  docs/index.md
  poetry.lock
Due: none

ISSUE #215 * Add `SagaManager` injection into `Aggregate`.
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_impl.py
  packages/core/minos-microservice-aggregate/tests/utils.py
Due: minos-microservice-aggregate-check

ISSUE #215 * Add missing dev-dependency.
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
Due: minos-microservice-aggregate-check

ISSUE #215 * Stop auto-injecting dependencies into services. * Remove `__get_enroute__` as the current implementation was the same as the default's one already provided by the `EnrouteCollector`.
  packages/core/minos-microservice-cqrs/minos/cqrs/services.py
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/tests/test_config.yml
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
  packages/core/minos-microservice-cqrs/tests/utils.py
Due: minos-microservice-cqrs-check

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  minos-discovery-minos-check: any of: ^packages/plugins/minos-discovery-minos/
  kong-discovery-kong-check: any of: ^packages/plugins/kong-discovery-kong/
  minos-http-aiohttp-check: any of: ^packages/plugins/minos-http-aiohttp/
  minos-router-graphql-check: any of: ^packages/plugins/minos-router-graphql/
  minos-broker-rabbitmq-check: any of: ^packages/plugins/minos-broker-rabbitmq/
