Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

minos-discovery-minos-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-discovery-minos check
  name: Check minos-discovery-minos
  language: system

kong-discovery-kong-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/kong-discovery-kong check
  name: Check kong-discovery-kong
  language: system

minos-http-aiohttp-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-http-aiohttp check
  name: Check minos-http-aiohttp
  language: system

minos-router-graphql-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-router-graphql check
  name: Check minos-router-graphql
  language: system

minos-broker-rabbitmq-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-rabbitmq check
  name: Check minos-broker-rabbitmq
  language: system

ISSUE #53 * Simplify `SagaStepStatus`.
  packages/core/minos-microservice-saga/minos/saga/executions/status.py
  packages/core/minos-microservice-saga/minos/saga/executions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/executions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/executions/steps/remote.py
Due: minos-microservice-saga-check

ISSUE #51 * Improve testing deployment
  .github/workflows/minos-database-aiopg-tests.yml
Due: none

- Contains in aggregate working.
  packages/core/minos-microservice-aggregate/minos/aggregate/queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_queries.py
Due: minos-microservice-aggregate-check

ISSUE #176 * Refactor `run` method.
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_runners.py
Due: minos-microservice-saga-check

ISSUE #176 * Minor change
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
Due: minos-microservice-saga-check

ISSUE #? * Minor improvement related with the ordering logic of `Event` instances.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/models.py
Due: minos-microservice-aggregate-check

ISSUE #176 * Working on timeout attribute.
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
Due: minos-microservice-saga-check

ISSUE #475 * Remove unused `__decorators__` attributes.
  packages/core/minos-microservice-networks/minos/networks/decorators/callables/handlers.py
Due: minos-microservice-networks-check

ISSUE #475 * Start using `Handler` type hint.
  packages/core/minos-microservice-networks/minos/networks/brokers/dispatchers/impl.py
  packages/core/minos-microservice-networks/minos/networks/decorators/callables/handlers.py
  packages/core/minos-microservice-networks/minos/networks/decorators/collectors.py
  packages/core/minos-microservice-networks/minos/networks/decorators/factories.py
  packages/core/minos-microservice-networks/minos/networks/http/adapters.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-networks/minos/networks/routers.py
Due: minos-microservice-networks-check

ISSUE #475 * Remove unused code.
  packages/core/minos-microservice-networks/minos/networks/decorators/callables/handlers.py
Due: minos-microservice-networks-check

ISSUE #475 * Add shields.
  packages/core/minos-microservice-common/minos/common/setup.py
Due: minos-microservice-common-check

ISSUE #176 * Add tests for timeout.
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_runners.py
Due: minos-microservice-saga-check

ISSUE #478 * Add `minos-database-sqlalchemy` plugin.
  .github/workflows/minos-database-sqlalchemy-publish.yml
  .github/workflows/minos-database-sqlalchemy-tests.yml
  .pre-commit-config.yaml
  README.md
  packages/plugins/minos-database-sqlalchemy/AUTHORS.md
  packages/plugins/minos-database-sqlalchemy/HISTORY.md
  packages/plugins/minos-database-sqlalchemy/LICENSE
  packages/plugins/minos-database-sqlalchemy/Makefile
  packages/plugins/minos-database-sqlalchemy/README.md
  packages/plugins/minos-database-sqlalchemy/RUNTHETESTS.md
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/poetry.toml
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
  packages/plugins/minos-database-sqlalchemy/setup.cfg
  packages/plugins/minos-database-sqlalchemy/tests/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_config.yml
  packages/plugins/minos-database-sqlalchemy/tests/test_something.py
  packages/plugins/minos-database-sqlalchemy/tests/utils.py
  pyproject.toml
Due: none

- Fixed type.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
Due: none

- Added docker-compose.yml
  packages/plugins/minos-database-aiopg/tests/docker-compose.yml
Due: none

ISSUE #478 * Add `minos-database-sqlalchemy` plugin (2).
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
  poetry.lock
Due: none

ISSUE #481 * Add `SqlAlchemySnapshotTableBuilder` skeleton.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/snapshots/tables.py
Due: none

ISSUE #481 * Working on initial structure.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/snapshots/tables.py
Due: none

ISSUE #481 * Generate tables from entity types.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_snapshots/test_tables.py
Due: none

ISSUE #176 * Fix bug related with test's mock.
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_database.py
Due: minos-microservice-networks-check

ISSUE #481 * Rename `SqlAlchemySnapshotTableBuilder` as `SqlAlchemySnapshotTableFactory`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_snapshots/test_tables.py
Due: none

- Test working.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
Due: none

- Test working.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
Due: none

ISSUE #482 * Working on `SqlAlchemyDatabaseClient` and `SqlAlchemyDatabaseOperation`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/operations.py
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_clients.py
  poetry.lock
  pyproject.toml
Due: none

- Added contains for fixed fields.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
Due: none

ISSUE #482 * Improve `SqlAlchemyDatabaseClient`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
Due: none

ISSUE #482 * Improve exceptions integration.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
Due: none

- ValueError raised for fixed fields.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
Due: none

- Fixed lint.
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
Due: none

ISSUE #482 * Working on tests.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/locks.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/managemens.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/operations.py
  packages/plugins/minos-database-sqlalchemy/tests/test_config.yml
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_clients.py
  packages/plugins/minos-database-sqlalchemy/tests/utils.py
Due: none

ISSUE #482 * Improve `recreate` method. * Minor improvements.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/locks.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/managemens.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/operations.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_clients.py
Due: none

ISSUE #482 * Add missing `__init__.py`.
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/__init__.py
Due: none

ISSUE #482 * Increase coverage. * Fix minor bugs.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/operations.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_clients.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_operations.py
Due: none

ISSUE #471 * Fix bug related with `Conditions.CONTAINS` and `aiopg` * Fix minor bugs.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
Due: minos-microservice-aggregate-check

v0.7.1.dev1
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

v0.7.1.dev1 (2)
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
Due: none

ISSUE #478 * Add `postgres` service to github's testing workflow.
  .github/workflows/minos-database-sqlalchemy-tests.yml
Due: none

ISSUE #481 * Refactor module structure.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
Due: none

ISSUE #482 * Remove naive test.
  packages/plugins/minos-database-sqlalchemy/tests/test_something.py
Due: none

ISSUE #481 * Improve `SqlAlchemySnapshotTableFactory` tests.
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_tables.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_snapshots/test_tables.py
Due: none

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  minos-discovery-minos-check: any of: ^packages/plugins/minos-discovery-minos/
  kong-discovery-kong-check: any of: ^packages/plugins/kong-discovery-kong/
  minos-http-aiohttp-check: any of: ^packages/plugins/minos-http-aiohttp/
  minos-router-graphql-check: any of: ^packages/plugins/minos-router-graphql/
  minos-broker-rabbitmq-check: any of: ^packages/plugins/minos-broker-rabbitmq/
