Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: minos-discovery-minos-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-discovery-minos check
                name: Check minos-discovery-minos
                files: ^packages/plugins/minos-discovery-minos/
                language: system

            -   id: kong-discovery-kong-check
                pass_filenames: false
                entry: make --directory=packages/plugins/kong-discovery-kong check
                name: Check kong-discovery-kong
                files: ^packages/plugins/kong-discovery-kong/
                language: system

            -   id: minos-http-aiohttp-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-http-aiohttp check
                name: Check minos-http-aiohttp
                files: ^packages/plugins/minos-http-aiohttp/
                language: system

            -   id: minos-router-graphql-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-router-graphql check
                name: Check minos-router-graphql
                files: ^packages/plugins/minos-router-graphql/
                language: system

            -   id: minos-broker-rabbitmq-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-rabbitmq check
                name: Check minos-broker-rabbitmq
                files: ^packages/plugins/minos-broker-rabbitmq/
                language: system

ISSUE #215 * Add missing dependency to test triggers.
  .github/workflows/minos-microservice-aggregate-tests.yml
Due: none

ISSUE #? * Minor change
  docs/index.md
Due: none

ISSUE #215 * Regenerate `poetry.lock`.
  packages/plugins/minos-database-aiopg/poetry.lock
Due: none

ISSUE #465 * Allow empty `namespace` values on inequality comparisons between `ModelType` instances.
  packages/core/minos-microservice-common/minos/common/model/types/model_types.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_model_types.py
Due: minos-microservice-common-check

ISSUE #465 * Minor improvement
  packages/core/minos-microservice-common/minos/common/model/types/model_types.py
Due: minos-microservice-common-check

ISSUE #465 * Improve how saga class is defined.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/operations.py
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/minos/saga/executions/executors/abc.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
Due: minos-microservice-saga-check

ISSUE #198 * Increase coverage. * Minor improvements.
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_runners.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_execute.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_abc.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_remote.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-saga-check

ISSUE #198 * Minor improvements related with Saga's API and `committed`.
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
Due: minos-microservice-saga-check

ISSUE #198 * Add "priority" into serialization process.
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_operations.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_abc.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_local.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_abc.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_conditional.py
Due: minos-microservice-saga-check

ISSUE #198 * Rename `priority` as `order`.
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_local.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_abc.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-saga-check

ISSUE #198 * Remove code duplication.
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
Due: minos-microservice-saga-check

ISSUE #198 * Simplify code.
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_runners.py
Due: minos-microservice-saga-check

ISSUE #198 * Add support for `ConditionalSagaStep` as a class decorator.
  packages/core/minos-microservice-saga/minos/saga/definitions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/types.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-saga-check

ISSUE #198 * Rename `saga` as `definition`. * Rename `step` as `definition`.
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_conditional.py
Due: minos-microservice-saga-check

ISSUE #198 * Add new classes to `__init__.py` files.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/__init__.py
Due: minos-microservice-saga-check

ISSUE #198 * Refactor `Saga.add_step` to be a public method.
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
Due: minos-microservice-saga-check

ISSUE #198 * Autofill order when not provided.
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_conditional.py
Due: minos-microservice-saga-check

ISSUE #198 * Minor improvements.
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
Due: minos-microservice-saga-check

ISSUE #198 * Add tests for precedence constraints.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/exceptions.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
Due: minos-microservice-saga-check

ISSUE #198 * Improve `SagaMeta`.
  packages/core/minos-microservice-saga/minos/saga/definitions/operations.py
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
Due: minos-microservice-saga-check

ISSUE #198 * Rename classes.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
Due: minos-microservice-saga-check

ISSUE #198 * Rename attributes.
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
Due: minos-microservice-saga-check

ISSUE #198 * Rename classes to increase naming consistency.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_conditional.py
Due: minos-microservice-saga-check

ISSUE #198 * Rename `OnSagaStepDecorator` as `SagaOperationDecorator`.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/operations.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_operations.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_abc.py
Due: minos-microservice-saga-check

ISSUE #198 * Add tests for `LocalSagaStepDecoratorMeta`.
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_local.py
Due: minos-microservice-saga-check

ISSUE #198 * Add tests for `RemoteSagaStepDecoratorMeta`.
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_local.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_remote.py
Due: minos-microservice-saga-check

ISSUE #198 * Add tests for `ConditionalSagaStep`. * Minor improvements.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/__init__.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/minos/saga/definitions/types.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-saga-check

ISSUE #51 * Add `build_create` method to the `SagaExecutionDatabaseOperationFactory` interface.
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/factories.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/impl.py
  packages/core/minos-microservice-saga/minos/saga/testing.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_database/test_factories.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/factories/saga/executions.py
Due: minos-microservice-saga-check

ISSUE #51 * Add `build_create` method to the `SagaExecutionDatabaseOperationFactory` interface.
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/saga.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_saga/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_saga/test_factories.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_saga/test_repositories.py
  packages/plugins/minos-database-aiopg/tests/test_config.yml
Due: minos-microservice-saga-check

ISSUE #51 * Remove ordering constraint.
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/impl.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
Due: minos-microservice-saga-check

ISSUE #51 * Add minimum required attributes.
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/factories.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
Due: minos-microservice-saga-check

ISSUE #469 * Add support for automatic casting if possible.
  packages/core/minos-microservice-common/minos/common/model/serializers/avro/data/decoder.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_serializers/test_avro/test_data/test_decoder.py
Due: minos-microservice-common-check

ISSUE #469 * Improve tests.
  packages/core/minos-microservice-common/tests/test_common/test_model/test_serializers/test_avro/test_data/test_decoder.py
Due: minos-microservice-common-check

ISSUE #469 * Improve tests.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/saga.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_saga/test_factories.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_factories/test_saga/test_factories.py
Due: none

ISSUE #50 * Add missing docstring.
  packages/core/minos-microservice-saga/minos/saga/executions/runners.py
  packages/core/minos-microservice-saga/minos/saga/managers.py
Due: minos-microservice-saga-check

ISSUE #198 * Add missing docstring.
  packages/core/minos-microservice-saga/minos/saga/definitions/operations.py
  packages/core/minos-microservice-saga/minos/saga/definitions/saga.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
Due: minos-microservice-saga-check

ISSUE #? * Improve sorting strategy.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_models.py
Due: minos-microservice-aggregate-check

ISSUE #198 * Add order to `IfThenAlternative` raw's structure.
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_definitions/test_steps/test_conditional.py
Due: minos-microservice-saga-check

ISSUE #198 * Minor improvements.
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/local.py
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/remote.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
Due: minos-microservice-saga-check
