Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

minos-discovery-minos-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-discovery-minos check
  name: Check minos-discovery-minos
  language: system

kong-discovery-kong-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/kong-discovery-kong check
  name: Check kong-discovery-kong
  language: system

minos-http-aiohttp-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-http-aiohttp check
  name: Check minos-http-aiohttp
  language: system

minos-router-graphql-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-router-graphql check
  name: Check minos-router-graphql
  language: system

minos-broker-rabbitmq-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-rabbitmq check
  name: Check minos-broker-rabbitmq
  language: system

ISSUE #371 * Remove `PostgreSql*` like classes.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/queries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/readers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/locks/__init__.py
  packages/core/minos-microservice-common/minos/common/database/locks/impl.py
  packages/core/minos-microservice-common/minos/common/database/mixins.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_testing.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/database.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #373
  packages/core/minos-microservice-networks/minos/networks/discovery/clients/abc.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
Due: minos-microservice-networks-check

ISSUE #371 * Allow to setup `DatabaseOperationFactory` at `DatabaseMixin` from directly generics.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-common/minos/common/database/mixins.py
  packages/core/minos-microservice-common/minos/common/injections/decorators.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/database.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #371 * Add missing docstring.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/manage/factories.py
  packages/core/minos-microservice-common/minos/common/database/mixins.py
  packages/core/minos-microservice-common/minos/common/database/operations/abc.py
  packages/core/minos-microservice-common/minos/common/database/operations/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #371 * Increase coverage.
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/operations/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_aiopg.py
Due: minos-microservice-common-check

ISSUE #371 * Increase coverage (2).
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/minos/common/database/mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_operations/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_operations/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_operations/test_aiopg.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
Due: minos-microservice-common-check

ISSUE #373
  packages/core/minos-microservice-networks/minos/networks/discovery/clients/abc.py
Due: minos-microservice-networks-check

Restyled by isort
  packages/core/minos-microservice-networks/minos/networks/discovery/clients/abc.py
Due: minos-microservice-networks-check

ISSUE #387
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/kong_client.py
  packages/plugins/minos-discovery-kong/tests/__init__.py
  packages/plugins/minos-discovery-kong/tests/test_config.yml
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_kong_client.py
  packages/plugins/minos-discovery-kong/tests/utils.py
Due: none

Restyled by black
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
Due: none

ISSUE #378
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_kong_client.py
  packages/plugins/minos-discovery-kong/tests/utils.py
Due: none

ISSUE #373
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_collectors.py
Due: minos-microservice-networks-check

ISSUE #378
  packages/plugins/minos-discovery-kong/tests/test_kong/test_kong_client.py
  packages/plugins/minos-discovery-kong/tests/utils.py
Due: none

Restyled by black
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_collectors.py
Due: minos-microservice-networks-check

ISSUE #378
  packages/plugins/minos-discovery-kong/tests/utils.py
Due: none

ISSUE #144 * Fix naming bug
  .pre-commit-config.yaml
Due: none

ISSUE #98 * Add package skeleton.
  .github/workflows/minos-database-aiopg-publish.yml
  .github/workflows/minos-database-aiopg-tests.yml
  packages/plugins/minos-database-aiopg/AUTHORS.md
  packages/plugins/minos-database-aiopg/HISTORY.md
  packages/plugins/minos-database-aiopg/LICENSE
  packages/plugins/minos-database-aiopg/Makefile
  packages/plugins/minos-database-aiopg/README.md
  packages/plugins/minos-database-aiopg/RUNTHETESTS.md
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/poetry.toml
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-aiopg/setup.cfg
  packages/plugins/minos-database-aiopg/tests/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_config.yml
  packages/plugins/minos-database-aiopg/tests/utils.py
Due: none

ISSUE #98 * Migrate code from `minos-microservice-common`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/__init__.py
  packages/core/minos-microservice-common/minos/common/database/locks/__init__.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/__init__.py
  packages/core/minos-microservice-common/minos/common/database/manage/__init__.py
  packages/core/minos-microservice-common/minos/common/database/manage/factories.py
  packages/core/minos-microservice-common/minos/common/database/operations/__init__.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/common/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/common/locks.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/common/manage.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/operations.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_operations.py
  packages/plugins/minos-database-aiopg/tests/test_config.yml
  packages/plugins/minos-database-aiopg/tests/utils.py
Due: minos-microservice-common-check

ISSUE #98 * Fix broken tests.
  packages/core/minos-microservice-common/minos/common/database/locks/factories/__init__.py
  packages/core/minos-microservice-common/minos/common/database/operations/__init__.py
  packages/core/minos-microservice-common/tests/config/v1.yml
  packages/core/minos-microservice-common/tests/config/v2.yml
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/utils.py
Due: minos-microservice-common-check

ISSUE #381
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/requests.py
Due: minos-http-aiohttp-check

ISSUE #378
  packages/plugins/minos-discovery-kong/README.md
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/middleware.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_middleware.py
  packages/plugins/minos-discovery-kong/tests/utils.py
Due: none

ISSUE #378
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-kong/tests/test_config_no_auth.yml
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/utils.py
Due: none

ISSUE #98 * Migrate code from `minos-microservice-aggregate`
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_config.yml
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/transactions.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_queries.py
Due: minos-microservice-aggregate-check

ISSUE #373
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: minos-router-graphql-check

ISSUE #98 * Fix broken tests.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/event_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_memory.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-cqrs/tests/test_config.yml
  packages/core/minos-microservice-cqrs/tests/utils.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_pg.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_queries.py
  packages/plugins/minos-database-aiopg/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check

Restyled by black
  packages/plugins/minos-database-aiopg/tests/utils.py
Due: none

Restyled by isort
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_pg.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_queries.py
Due: none

ISSUE #98 * Reformat code.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_pg.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_queries.py
  packages/plugins/minos-database-aiopg/tests/utils.py
Due: none

ISSUE #98 * Update GitHub Workflows. * Remove `aiopg` dependencies from core packages.
  .github/workflows/minos-broker-kafka-tests.yml
  .github/workflows/minos-broker-rabbitmq-tests.yml
  .github/workflows/minos-database-aiopg-tests.yml
  .github/workflows/minos-http-aiohttp-tests.yml
  .github/workflows/minos-microservice-aggregate-tests.yml
  .github/workflows/minos-microservice-common-tests.yml
  .github/workflows/minos-microservice-cqrs-tests.yml
  .github/workflows/minos-microservice-networks-tests.yml
  .github/workflows/minos-router-graphql-tests.yml
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #373
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/broker.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/periodic.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_definitions/test_abc.py
Due: minos-microservice-networks-check

ISSUE #378
  packages/plugins/minos-discovery-kong/README.md
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/discovery.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/kong_client.py
  packages/plugins/minos-discovery-kong/tests/test_config.yml
  packages/plugins/minos-discovery-kong/tests/test_config_no_auth.yml
Due: none

ISSUE #98 * Add transaction test cases.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/transaction_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_memory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_pg.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Minor fix.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/transaction_repository.py
Due: minos-microservice-aggregate-check

ISSUE #378
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_discovery.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_kong_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_middleware.py
Due: none

Update test_requests.py
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/test_requests.py
Due: minos-http-aiohttp-check

Restyled by black
  packages/plugins/minos-http-aiohttp/tests/test_aiohttp/test_requests.py
Due: minos-http-aiohttp-check

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  minos-discovery-minos-check: any of: ^packages/plugins/minos-discovery-minos/
  kong-discovery-kong-check: any of: ^packages/plugins/kong-discovery-kong/
  minos-http-aiohttp-check: any of: ^packages/plugins/minos-http-aiohttp/
  minos-router-graphql-check: any of: ^packages/plugins/minos-router-graphql/
  minos-broker-rabbitmq-check: any of: ^packages/plugins/minos-broker-rabbitmq/
