Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: minos-discovery-minos-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-discovery-minos check
                name: Check minos-discovery-minos
                files: ^packages/plugins/minos-discovery-minos/
                language: system

            -   id: kong-discovery-kong-check
                pass_filenames: false
                entry: make --directory=packages/plugins/kong-discovery-kong check
                name: Check kong-discovery-kong
                files: ^packages/plugins/kong-discovery-kong/
                language: system

            -   id: minos-http-aiohttp-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-http-aiohttp check
                name: Check minos-http-aiohttp
                files: ^packages/plugins/minos-http-aiohttp/
                language: system

            -   id: minos-router-graphql-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-router-graphql check
                name: Check minos-router-graphql
                files: ^packages/plugins/minos-router-graphql/
                language: system

            -   id: minos-broker-rabbitmq-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-rabbitmq check
                name: Check minos-broker-rabbitmq
                files: ^packages/plugins/minos-broker-rabbitmq/
                language: system

ISSUE #86 * Minor improvements.
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/abc.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #86 * Minor improvements. (2)
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/entries.py
Due: minos-microservice-networks-check

modified history
  packages/plugins/minos-discovery-kong/HISTORY.md
Due: none

added dev3 for kong
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/pyproject.toml
Due: none

Update __init__.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
Due: none

correct error
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
Due: none

ISSUE #86 * Add support for aggregate's level broker publisher configuration.
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/impl.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #86 * Increase coverage.
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/config/v2.yml
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_parameterized.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/impl.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #86 * Add tests for `TransactionalBrokerPublisher`.
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/entries.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/test_impl.py
  packages/core/minos-microservice-networks/tests/utils.py
Due: minos-microservice-networks-check

ISSUE #86 * Add tests for `BrokerPublisherTransactionEntry`.
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/entries.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/test_entries.py
Due: minos-microservice-networks-check

ISSUE #86 * Add tests for `BrokerPublisherTransactionRepository`.
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/database/factories.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/memory.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/test_repositories/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/test_repositories/test_abc.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/publishers/transactional.py
Due: minos-microservice-networks-check

ISSUE #86 * Add tests for `InMemoryBrokerPublisherTransactionRepository`.
  packages/core/minos-microservice-networks/minos/networks/testing/__init__.py
  packages/core/minos-microservice-networks/minos/networks/testing/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/testing/brokers/publishers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/testing/brokers/publishers/transactions.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/test_repositories/test_memory.py
Due: minos-microservice-networks-check

ISSUE #86 * Add tests for `DatabaseBrokerPublisherTransactionRepository`. * Add tests for `BrokerPublisherTransactionDatabaseOperationFactory`.
  packages/core/minos-microservice-networks/minos/networks/testing/__init__.py
  packages/core/minos-microservice-networks/minos/networks/testing/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/testing/brokers/publishers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/testing/brokers/publishers/transactions.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/test_repositories/test_database/__init__.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/test_repositories/test_database/test_factories.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_transactional/test_repositories/test_database/test_impl.py
Due: minos-microservice-networks-check

ISSUE #86 * Rename file.
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_impl.py
Due: minos-microservice-aggregate-check

ISSUE #86 * Increase coverage of the `Aggregate` class.
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_impl.py
Due: minos-microservice-aggregate-check

ISSUE #86 * Add tests for `AiopgBrokerPublisherTransactionDatabaseOperationFactory`.
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_publishers/test_transactions/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_publishers/test_transactions/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_publishers/test_transactions/test_repository.py
Due: none

ISSUE #86 * Add docstring.
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/entries.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/database/factories.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/memory.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/publishers/transactional.py
Due: minos-microservice-networks-check

ISSUE #86 * Fix bug related with kwargs propagation.
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
Due: minos-microservice-aggregate-check

ISSUE #86 * Reorder injections.
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_parameterized.py
Due: minos-microservice-common-check

ISSUE #159 * Add `EntityRepository`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
Due: minos-microservice-aggregate-check

ISSUE #159 * Add `EntityRepository` (2).
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_repositories/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_repositories/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_repositories/test_integration.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_broker.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_not_provided.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_injectors.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_services.py
  packages/core/minos-microservice-aggregate/tests/utils.py
Due: minos-microservice-aggregate-check

ISSUE #159 * Remove event sending logic from `EventRepository`.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_repositories/test_deltas.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_broker.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

ISSUE #159 * Move tests.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_deltas.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_integration.py
Due: minos-microservice-aggregate-check

ISSUE #159 * Add support for instances on `EntityRepository.create`. * Minor improvements.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_base.py
Due: minos-microservice-aggregate-check

ISSUE #159 * Minor change.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
Due: minos-microservice-aggregate-check

ISSUE #159 * Add `Aggregate.send_domain_event`.
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_impl.py
Due: minos-microservice-aggregate-check

ISSUE #159 * Rename `send_domain_event` as `publish_domain_event`.
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_impl.py
Due: minos-microservice-aggregate-check

ISSUE #413 * Fix broken tests on `minos-microservice-cqrs`.
  packages/core/minos-microservice-cqrs/minos/cqrs/handlers.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_handlers.py
Due: minos-microservice-cqrs-check

ISSUE #413 * Fix broken tests on `minos-database-aiopg`.
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/tests/config/v1.yml
  packages/core/minos-microservice-common/tests/config/v2.yml
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_parameterized.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_repositories.py
  packages/plugins/minos-database-aiopg/tests/utils.py
Due: minos-microservice-common-check, minos-microservice-cqrs-check

ISSUE #175 * Refactor `Delta` constructor methods.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_exceptions.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
Due: minos-microservice-aggregate-check

ISSUE #175 * Minor change.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
Due: minos-microservice-aggregate-check

ISSUE #442 * Fix bug related with locking and `ComposedDatabaseOperation`.
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
Due: minos-microservice-common-check

ISSUE #415 * Fix bug related with `pyparsing` import instead of `typing`.
  packages/core/minos-microservice-common/minos/common/database/locks/impl.py
Due: minos-microservice-common-check

* Update dependencies.
  packages/core/minos-microservice-networks/poetry.lock
Due: minos-microservice-networks-check

ISSUE #446 * Fix bug related with non-hashable `Entity` instances within `EntitySet`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/collections.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_collections.py
Due: minos-microservice-aggregate-check

ISSUE #442 * Improve timeout behaviour.
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
Due: minos-microservice-common-check

ISSUE #416 * Fix bug related with `poetry`'s `include`.
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

v0.7.0.dev4
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-cqrs/minos/cqrs/__init__.py
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/poetry.lock
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/poetry.lock
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/__init__.py
  packages/plugins/minos-database-lmdb/poetry.lock
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/minos/plugins/minos_discovery/__init__.py
  packages/plugins/minos-discovery-minos/poetry.lock
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/__init__.py
  packages/plugins/minos-http-aiohttp/poetry.lock
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/pyproject.toml
  poetry.lock
  pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

ISSUE #65 * Minor improvements related with `minos-microservice-transactions`.
  .github/workflows/minos-database-aiopg-tests.yml
  .github/workflows/minos-microservice-aggregate-tests.yml
  .github/workflows/minos-microservice-saga-tests.yml
  packages/core/minos-microservice-transactions/poetry.lock
  packages/core/minos-microservice-transactions/pyproject.toml
  poetry.lock
Due: none
