Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-microservice-transactions-check, minos-broker-kafka-check, minos-database-aiopg-check, minos-database-lmdb-check, minos-database-sqlalchemy-check, minos-discovery-minos-check, minos-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-microservice-transactions-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-transactions check
  name: Check minos-microservice-transactions
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

minos-database-aiopg-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-database-aiopg check
  name: Check minos-database-aiopg
  language: system

minos-database-lmdb-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-database-lmdb check
  name: Check minos-database-lmdb
  language: system

minos-database-sqlalchemy-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-database-sqlalchemy check
  name: Check minos-database-sqlalchemy
  language: system

minos-discovery-minos-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-discovery-minos check
  name: Check minos-discovery-minos
  language: system

minos-discovery-kong-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-discovery-kong check
  name: Check minos-discovery-kong
  language: system

minos-http-aiohttp-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-http-aiohttp check
  name: Check minos-http-aiohttp
  language: system

minos-router-graphql-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-router-graphql check
  name: Check minos-router-graphql
  language: system

minos-broker-rabbitmq-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-rabbitmq check
  name: Check minos-broker-rabbitmq
  language: system

ISSUE #501 * Minor improvements.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
Due: minos-database-sqlalchemy-check

ISSUE #? * Fix bug related with the `DatabaseTransactionRepository` lookup.
  packages/core/minos-microservice-transactions/minos/transactions/repositories/database/impl.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_repositories/test_database.py
Due: minos-microservice-transactions-check

ISSUE #? * Fix bug related with the `EntityRepository.update` method.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_base.py
Due: minos-microservice-aggregate-check

ISSUE #? * Reformat code.
  packages/core/minos-microservice-transactions/tests/test_transactions/test_repositories/test_database.py
Due: minos-microservice-transactions-check

v0.8.0.dev3
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/core/minos-microservice-transactions/minos/transactions/__init__.py
  packages/core/minos-microservice-transactions/poetry.lock
  packages/core/minos-microservice-transactions/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-saga-check, minos-microservice-transactions-check

ISSUE #501 * Add tests for `SqlAlchemySnapshotRepository`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/repositories.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_repositories.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_repository.py
Due: minos-database-sqlalchemy-check

ISSUE #501 * Add test for `SqlAlchemySnapshotDatabaseOperationFactory`.
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_impl.py
Due: minos-database-sqlalchemy-check

ISSUE #501 * Minor improvements.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
Due: minos-database-sqlalchemy-check

ISSUE #501 * Add tests for `SqlAlchemySnapshotTableFactory`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_queries.py
Due: minos-database-sqlalchemy-check

- Default id.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_entries.py
Due: minos-microservice-aggregate-check

ISSUE #455 * Rename `name` to `type_`.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/database/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/deltas/repositories/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/deltas/repositories/testcases.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_repositories/test_database.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_differences.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_deltas.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_factory.py
Due: minos-microservice-aggregate-check, minos-database-aiopg-check

ISSUE #455 * Rename `name` to `type_`.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/repositories.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_impl.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_queries.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_tables.py
Due: minos-microservice-aggregate-check, minos-database-sqlalchemy-check

ISSUE #501 * Fix bug related with naming collisions.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/repositories.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_queries.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_tables.py
Due: minos-microservice-aggregate-check, minos-database-sqlalchemy-check

ISSUE #501 * Revert unnatural logic from `SnapshotEntry` constructor.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/repositories.py
Due: minos-microservice-aggregate-check, minos-database-sqlalchemy-check

ISSUE #501 * Add missing docstring.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/repositories.py
Due: minos-database-sqlalchemy-check

ISSUE #? * Minor renaming.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_repositories/test_database.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/deltas.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_deltas/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_deltas/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_deltas/test_repositories.py
Due: minos-microservice-aggregate-check, minos-database-aiopg-check

ISSUE #501 * Minor improvements.
  packages/core/minos-microservice-aggregate/minos/aggregate/impl.py
  packages/core/minos-microservice-cqrs/minos/cqrs/services.py
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check

ISSUE #501 * Add `SqlAlchemySnapshotRepository.execute_statement` method.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/repositories.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_repositories.py
  packages/plugins/minos-database-sqlalchemy/tests/utils.py
Due: minos-database-sqlalchemy-check

- Raises when None action.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

- All aggregate tests fixed.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/deltas/repositories/testcases.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
Due: minos-microservice-aggregate-check, minos-database-aiopg-check

- Fixed database tests.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
Due: minos-database-aiopg-check

Restyled by black
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/deltas/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_entries.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
Due: minos-microservice-aggregate-check, minos-database-aiopg-check

Restyled by isort
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/deltas/repositories/testcases.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_entries.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
Due: minos-microservice-aggregate-check, minos-database-aiopg-check

- Fixed code smell.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/deltas/repositories/testcases.py
Due: minos-microservice-aggregate-check

- Fixed code smell.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

Restyled by black
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/deltas/repositories/testcases.py
Due: minos-microservice-aggregate-check

Update README.md
  README.md
Due: none

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-microservice-transactions-check: any of: ^packages/core/minos-microservice-transactions/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  minos-database-aiopg-check: any of: ^packages/plugins/minos-database-aiopg/
  minos-database-lmdb-check: any of: ^packages/plugins/minos-database-lmdb/
  minos-database-sqlalchemy-check: any of: ^packages/plugins/minos-database-sqlalchemy/
  minos-discovery-minos-check: any of: ^packages/plugins/minos-discovery-minos/
  minos-discovery-kong-check: any of: ^packages/plugins/minos-discovery-kong/
  minos-http-aiohttp-check: any of: ^packages/plugins/minos-http-aiohttp/
  minos-router-graphql-check: any of: ^packages/plugins/minos-router-graphql/
  minos-broker-rabbitmq-check: any of: ^packages/plugins/minos-broker-rabbitmq/
