Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: minos-discovery-minos-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-discovery-minos check
                name: Check minos-discovery-minos
                files: ^packages/plugins/minos-discovery-minos/
                language: system

            -   id: kong-discovery-kong-check
                pass_filenames: false
                entry: make --directory=packages/plugins/kong-discovery-kong check
                name: Check kong-discovery-kong
                files: ^packages/plugins/kong-discovery-kong/
                language: system

            -   id: minos-http-aiohttp-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-http-aiohttp check
                name: Check minos-http-aiohttp
                files: ^packages/plugins/minos-http-aiohttp/
                language: system

            -   id: minos-router-graphql-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-router-graphql check
                name: Check minos-router-graphql
                files: ^packages/plugins/minos-router-graphql/
                language: system

            -   id: minos-broker-rabbitmq-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-rabbitmq check
                name: Check minos-broker-rabbitmq
                files: ^packages/plugins/minos-broker-rabbitmq/
                language: system

v0.8.0.dev2 (2)
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/core/minos-microservice-transactions/poetry.lock
  packages/core/minos-microservice-transactions/pyproject.toml
  packages/plugins/minos-broker-kafka/poetry.lock
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/poetry.lock
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-lmdb/poetry.lock
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/poetry.lock
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/poetry.lock
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

ISSUE #481 * Minor change.
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_tables.py
Due: none

ISSUE #482 * Improve how databases are created and dropped.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/common/managemens.py
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
  poetry.lock
Due: none

ISSUE #481 * Add `is_optional` checking function. * Working on column types.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/model/__init__.py
  packages/core/minos-microservice-common/minos/common/model/types/__init__.py
  packages/core/minos-microservice-common/minos/common/model/types/comparators.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/types.py
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
  poetry.lock
  pyproject.toml
Due: minos-microservice-common-check

ISSUE #482 * Add `psycopg2`.
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

ISSUE #481 * Improve `Ref.data_cls` property.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/models.py
Due: minos-microservice-aggregate-check

ISSUE #481 * Improve `SqlAlchemySnapshotTableFactory`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_tables.py
Due: none

ISSUE #482 * Raise `ProgrammingException`.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_clients.py
Due: none

ISSUE #482 * Add tests for `EncodedType`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/types.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_types.py
Due: none

- Scaffold.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/models.py
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

ISSUE #? * Minor change.
  packages/core/minos-microservice-saga/minos/saga/testing.py
Due: minos-microservice-saga-check

- Scaffold.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/repositories/abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

- Fixed lint.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/models.py
Due: minos-microservice-aggregate-check

ISSUE #482 * Add missing docstring.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/operations.py
Due: none

ISSUE #? * Improve `AiopgDatabaseClient`.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
  packages/plugins/minos-database-aiopg/tests/utils.py
Due: none

Restyled by black
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/models.py
Due: minos-microservice-aggregate-check

Restyled by isort
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/models.py
Due: minos-microservice-aggregate-check

ISSUE #481 * Add tests for `is_optional`.
  packages/core/minos-microservice-common/minos/common/model/types/comparators.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_comparators.py
Due: minos-microservice-common-check

ISSUE #481 * Add missing docstring.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/types.py
Due: none

- Added created_at null value.
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/entries.py
Due: minos-microservice-aggregate-check

ISSUE #501 * Minor changes required to implement the `SqlAlchemySnapshotDatabaseOperationFactory`.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/factories.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks/impl.py
  packages/core/minos-microservice-common/minos/common/database/mixins.py
  packages/core/minos-microservice-common/minos/common/database/operations.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_mixins.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_factory.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

- Fixed `from_another()`
  packages/core/minos-microservice-aggregate/minos/aggregate/deltas/entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_deltas/test_entries.py
Due: minos-microservice-aggregate-check

ISSUE #501 * Add `DataException`. * Improve type hinting.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/exceptions.py
  packages/core/minos-microservice-common/minos/common/database/mixins.py
Due: minos-microservice-common-check

ISSUE #501 * Improve `SnapshotEntry`.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

ISSUE #501 * Add support for `DataException` on `AiopgDatabaseClient`.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
Due: none

ISSUE #501 * Add support for `DataException` on `SqlAlchemyDatabaseClient`. * Commit connection transaction.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_clients.py
Due: none

ISSUE #501 * Add initial implementations of `SqlAlchemySnapshotDatabaseOperationFactory` and `SqlAlchemySnapshotQueryDatabaseOperationBuilder`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
Due: none

ISSUE #501 * Minor changes.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
Due: none

ISSUE #501 * Implement `SqlAlchemySnapshotQueryDatabaseOperationBuilder`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/queries.py
Due: none

ISSUE #501 * Expose `is_model_subclass` and `is_type_subclass`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/model/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_comparators.py
Due: minos-microservice-common-check

ISSUE #501 * Add `is_ref_subclass`.
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/comparators.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_comparators.py
Due: minos-microservice-aggregate-check

ISSUE #501 * Add `deleted` arg.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
Due: minos-microservice-aggregate-check

ISSUE #501 * Add `TestDatabaseSnapshotRepository` to `minos-database-sqlalchemy`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/tables.py
  packages/plugins/minos-database-sqlalchemy/tests/test_config.yml
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_repository.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_factories/test_aggregate/test_snapshots/test_tables.py
  packages/plugins/minos-database-sqlalchemy/tests/utils.py
Due: none

ISSUE #501 * Minor improvement.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/queries.py
Due: none

ISSUE #501 * Expose `delta` and `snapshot` attributes of `EntityRepository`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/repositories.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_repositories/test_base.py
Due: minos-microservice-aggregate-check

ISSUE #501 * Improve `execute`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/clients.py
  packages/plugins/minos-database-sqlalchemy/tests/test_sqlalchemy/test_clients.py
Due: none

ISSUE #501 * Add `SqlAlchemySnapshotRepository`. * Add `get_table`.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/__init__.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/repositories.py
  packages/plugins/minos-database-sqlalchemy/poetry.lock
  packages/plugins/minos-database-sqlalchemy/pyproject.toml
Due: none

ISSUE #501 * Remove dependencies to postgresql.
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-sqlalchemy/minos/plugins/sqlalchemy/operations.py
Due: none
