Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

minos-discovery-minos-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-discovery-minos check
  name: Check minos-discovery-minos
  language: system

kong-discovery-kong-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/kong-discovery-kong check
  name: Check kong-discovery-kong
  language: system

minos-http-aiohttp-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-http-aiohttp check
  name: Check minos-http-aiohttp
  language: system

minos-router-graphql-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-router-graphql check
  name: Check minos-router-graphql
  language: system

minos-broker-rabbitmq-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-rabbitmq check
  name: Check minos-broker-rabbitmq
  language: system

Restyled by black
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
Due: none

ISSUE #43 * Improve `AiopgDatabaseClient` adding support for connection recreation during breakages.
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/minos/common/testing/database/clients.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/pools.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/clients.py
Due: minos-microservice-common-check, minos-microservice-networks-check

ISSUE #398
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/discovery.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_discovery.py
Due: none

Restyled by black
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_discovery.py
Due: none

ISSUE #43 * Improve exception handling.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
Due: none

ISSUE #? * Raise a `StopAsyncIteration` when consumer is stopped.
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-broker-kafka-check

ISSUE #? * Simplify module hierarchies.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/__init__.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/__init__.py
  packages/core/minos-microservice-common/minos/common/database/managements.py
  packages/core/minos-microservice-common/minos/common/database/managements/__init__.py
  packages/core/minos-microservice-common/minos/common/database/operations.py
  packages/core/minos-microservice-common/minos/common/database/operations/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_operations.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_operations/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/__init__.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #64 * Remove the dependency to the `event_offset` value of transactions on the snapshot's synchronization step.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/transactions/repositories/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/abc.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/transactions.py
Due: minos-microservice-aggregate-check

ISSUE #64 * Remove `event_offset` attribute from `TransactionEntry`.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshots/repositories/testcases.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/transactions/repositories/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/transactions/repositories/testcases.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/memory.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_database.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/transactions.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_factory.py
Due: minos-microservice-aggregate-check

ISSUE #64 * Raise a `TransactionRepositoryConflictException` instead of an `EventRepositoryConflictException`.
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/services.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_services.py
Due: minos-microservice-aggregate-check

ISSUE #63 * Add `TransactionalMixin` and implement an "Observer Pattern" between `EventRepository` and `TransactionEntry`.
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/mixins.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/memory.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
Due: minos-microservice-aggregate-check

ISSUE #63 * Add missing docstring. * Minor improvements.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/mixins.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/abc.py
  packages/core/minos-microservice-common/minos/common/locks.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #63 * Simplify variable names.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/memory.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

ISSUE #63 * Add tests for `TransactionalMixin`.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_mixins.py
Due: minos-microservice-aggregate-check

ISSUE #63 * Replace `patch` by `patch.object`.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
Due: minos-microservice-aggregate-check

ISSUE #63 * Improve tests.
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
Due: minos-microservice-aggregate-check

ISSUE #63 * Improve `TransactionalMixin`.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/mixins.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_mixins.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

ISSUE #65 * Add `minos-microservice-transactions` package skeleton.
  packages/core/minos-microservice-transactions/AUTHORS.md
  packages/core/minos-microservice-transactions/HISTORY.md
  packages/core/minos-microservice-transactions/LICENSE
  packages/core/minos-microservice-transactions/Makefile
  packages/core/minos-microservice-transactions/README.md
  packages/core/minos-microservice-transactions/RUNTHETESTS.md
  packages/core/minos-microservice-transactions/minos/transactions/__init__.py
  packages/core/minos-microservice-transactions/poetry.lock
  packages/core/minos-microservice-transactions/poetry.toml
  packages/core/minos-microservice-transactions/pyproject.toml
  packages/core/minos-microservice-transactions/setup.cfg
  packages/core/minos-microservice-transactions/tests/__init__.py
  packages/core/minos-microservice-transactions/tests/test_config.yml
  packages/core/minos-microservice-transactions/tests/test_transactions/__init__.py
  packages/core/minos-microservice-transactions/tests/utils.py
Due: none

ISSUE #403
  packages/plugins/minos-discovery-kong/README.md
  packages/plugins/minos-discovery-kong/minos/plugins/kong/discovery.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/utils.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_utils.py
Due: none

ISSUE #403
  packages/plugins/minos-discovery-kong/README.md
Due: none

Restyled by black
  packages/core/minos-microservice-transactions/tests/test_transactions/test_entries.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_mixins.py
  packages/core/minos-microservice-transactions/tests/utils.py
Due: none

Restyled by isort
  packages/core/minos-microservice-transactions/tests/test_transactions/test_entries.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_mixins.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_repositories/test_abc.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_repositories/test_database.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_services.py
  packages/core/minos-microservice-transactions/tests/utils.py
Due: none

ISSUE #390
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/discovery.py
  packages/plugins/minos-discovery-kong/tests/test_config.yml
Due: none

ISSUE #65 * Integrate `minos-microservice-transactions` into deployment workflows.
  .github/workflows/minos-microservice-transactions-publish.yml
  .github/workflows/minos-microservice-transactions-tests.yml
  .pre-commit-config.yaml
  packages/core/minos-microservice-transactions/tests/test_transactions/test_entries.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_mixins.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_repositories/test_abc.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_repositories/test_database.py
  packages/core/minos-microservice-transactions/tests/test_transactions/test_services.py
  packages/core/minos-microservice-transactions/tests/utils.py
  pyproject.toml
Due: none

ISSUE #390
  packages/plugins/minos-discovery-kong/README.md
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
Due: none

Restyled by isort
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
Due: none

ISSUE #65 * Fix bug related with dependency specification.
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
Due: minos-microservice-cqrs-check

ISSUE #65 * Move `TransactionService` logic to `SagaService`.
  packages/core/minos-microservice-saga/minos/saga/services.py
  packages/core/minos-microservice-saga/tests/test_saga/test_services.py
  packages/core/minos-microservice-saga/tests/utils.py
  packages/core/minos-microservice-transactions/minos/transactions/__init__.py
  packages/core/minos-microservice-transactions/minos/transactions/services.py
  packages/core/minos-microservice-transactions/poetry.lock
  packages/core/minos-microservice-transactions/pyproject.toml
  packages/core/minos-microservice-transactions/tests/test_transactions/test_services.py
  packages/core/minos-microservice-transactions/tests/utils.py
Due: minos-microservice-saga-check

ISSUE #? * Remove `minos.networks.Builder`.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/utils.py
  packages/core/minos-microservice-networks/tests/test_networks/test_utils.py
Due: minos-microservice-networks-check

v0.7.0.dev2
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-cqrs/minos/cqrs/__init__.py
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/poetry.lock
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/poetry.lock
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/__init__.py
  packages/plugins/minos-database-lmdb/poetry.lock
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/pyproject.toml
  poetry.lock
  pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-router-graphql-check, minos-broker-rabbitmq-check

ISSUE #65 * Minor change.
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-saga-check

ISSUE #65 * Fix bug related with `poetry.lock`.
  packages/core/minos-microservice-cqrs/poetry.lock
Due: minos-microservice-cqrs-check

ISSUE #86 * Add `TransactionalBrokerPublisher`.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/entries.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/database/factories.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/repositories/memory.py
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
Due: minos-microservice-networks-check

ISSUE #86 * Add `AiopgBrokerPublisherTransactionDatabaseOperationFactory`.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/publishers/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/publishers/transactional.py
Due: none

ISSUE #86 * Working on...
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
Due: minos-microservice-aggregate-check

ISSUE #? * Update docstring.
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/clients.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/handlers.py
Due: minos-router-graphql-check

ISSUE #86 * Fix syntax
  packages/core/minos-microservice-aggregate/minos/aggregate/aggregate.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/transactional/impl.py
Due: minos-microservice-aggregate-check, minos-microservice-networks-check

ISSUE #86 * Add `minos-microservice-transactions` as a dev dependency.
  packages/plugins/minos-broker-kafka/poetry.lock
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/poetry.lock
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/poetry.lock
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/poetry.lock
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/pyproject.toml
Due: minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  minos-discovery-minos-check: any of: ^packages/plugins/minos-discovery-minos/
  kong-discovery-kong-check: any of: ^packages/plugins/kong-discovery-kong/
  minos-http-aiohttp-check: any of: ^packages/plugins/minos-http-aiohttp/
  minos-router-graphql-check: any of: ^packages/plugins/minos-router-graphql/
  minos-broker-rabbitmq-check: any of: ^packages/plugins/minos-broker-rabbitmq/
