Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: minos-discovery-minos-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-discovery-minos check
                name: Check minos-discovery-minos
                files: ^packages/plugins/minos-discovery-minos/
                language: system

            -   id: kong-discovery-kong-check
                pass_filenames: false
                entry: make --directory=packages/plugins/kong-discovery-kong check
                name: Check kong-discovery-kong
                files: ^packages/plugins/kong-discovery-kong/
                language: system

            -   id: minos-http-aiohttp-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-http-aiohttp check
                name: Check minos-http-aiohttp
                files: ^packages/plugins/minos-http-aiohttp/
                language: system

            -   id: minos-router-graphql-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-router-graphql check
                name: Check minos-router-graphql
                files: ^packages/plugins/minos-router-graphql/
                language: system

            -   id: minos-broker-rabbitmq-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-rabbitmq check
                name: Check minos-broker-rabbitmq
                files: ^packages/plugins/minos-broker-rabbitmq/
                language: system

ISSUE #373
  packages/core/minos-microservice-networks/tests/services/commands.py
  packages/core/minos-microservice-networks/tests/services/queries.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_clients/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
Due: minos-microservice-networks-check

Restyled by black
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
Due: minos-microservice-networks-check

Restyled by isort
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_clients/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
Due: minos-microservice-networks-check

ISSUE #98 * Migrate snapshot tests.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/readers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/writers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/services.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_memory.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_memory.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_pg/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_pg/test_api.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_pg.py
Due: minos-microservice-aggregate-check

Restyled by isort
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_pg.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_pg.py
Due: none

ISSUE #98 * Reformat code.
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_pg.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_pg.py
Due: none

ISSUE #98 * Add `minos-database-aiopg` to `pre-commit` config.
  .pre-commit-config.yaml
Due: none

Update packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
Due: none

Apply suggestions from code review
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: minos-router-graphql-check

ISSUE #373 * Minor improvement.
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_api.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_collectors.py
Due: minos-microservice-networks-check

ISSUE #98 * Move lock tests from `minos-database-aiopg` to `minos-microservice-common`.
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
Due: minos-microservice-common-check

ISSUE #98 * Add test for failure.
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
Due: minos-microservice-common-check

ISSUE #98 * Fix bug.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/abc.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Remove postgres.
  packages/plugins/minos-broker-rabbitmq/tests/docker-compose.yml
  packages/plugins/minos-broker-rabbitmq/tests/test_config.yml
Due: minos-broker-rabbitmq-check

ISSUE #98 * Increase coverage.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Partial revert.
  .github/workflows/minos-broker-rabbitmq-tests.yml
Due: none

ISSUE #98 * Minor improvements.
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_pg.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_pg.py
Due: none

ISSUE #98 * Fix broken test.
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_pg.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_pg.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_pg.py
Due: none

ISSUE #98 * Working on tests.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

v0.7.0.dev1
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-cqrs/minos/cqrs/__init__.py
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/__init__.py
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/minos/plugins/rabbitmq/__init__.py
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-discovery-kong/minos/plugins/kong/__init__.py
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/minos/plugins/minos_discovery/__init__.py
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/minos/plugins/aiohttp/__init__.py
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/minos/plugins/graphql/__init__.py
  packages/plugins/minos-router-graphql/pyproject.toml
  pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

v0.7.0.dev1 (2)
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

v0.7.0.dev1 (3)
  packages/core/minos-microservice-aggregate/poetry.lock
  packages/core/minos-microservice-aggregate/pyproject.toml
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-cqrs/poetry.lock
  packages/core/minos-microservice-cqrs/pyproject.toml
  packages/core/minos-microservice-networks/poetry.lock
  packages/core/minos-microservice-networks/pyproject.toml
  packages/core/minos-microservice-saga/poetry.lock
  packages/core/minos-microservice-saga/pyproject.toml
  packages/plugins/minos-broker-kafka/poetry.lock
  packages/plugins/minos-broker-kafka/pyproject.toml
  packages/plugins/minos-broker-rabbitmq/poetry.lock
  packages/plugins/minos-broker-rabbitmq/pyproject.toml
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-minos/poetry.lock
  packages/plugins/minos-discovery-minos/pyproject.toml
  packages/plugins/minos-http-aiohttp/poetry.lock
  packages/plugins/minos-http-aiohttp/pyproject.toml
  packages/plugins/minos-router-graphql/poetry.lock
  packages/plugins/minos-router-graphql/pyproject.toml
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

ISSUE #98 * Add tests for even repository.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/event_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Increase coverage.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_exceptions.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Add tests for `DatabaseTransactionRepository`.
  packages/core/minos-microservice-aggregate/minos/aggregate/exceptions.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_exceptions.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_database.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/transactions.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Increase coverage.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Increase coverage (2).
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Remove unused method.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Simplify `minos.aggregate.snapshots.repositories.database` module removing `DatabaseSnapshotReader`, `DatabaseSnapshotWriter` and `DatabaseSnapshotSetup`.
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/readers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_pg/__init__.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_pg/test_api.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_pg.py
Due: minos-microservice-aggregate-check

Restyled by black
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Minor renaming.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/event_repository.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/transaction_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_database.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Refactor `EventRepositoryTestCase`.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/event_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_database.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_memory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_pg.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Refactor `TransactionRepositoryTestCase`. * Fix bug.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/transaction_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_database.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_database.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_memory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_pg.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Refactor `SnapshotRepositoryTestCase`.
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_memory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_pg.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Refactoring `SnapshotRepository`.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/memory.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_memory.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Patch `SnapshotRepository.build` method.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/memory.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Improve `decode_data`.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/collections.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Remove patch.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/memory.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Fix bug related with type comparisons.
  packages/core/minos-microservice-aggregate/minos/aggregate/entities/refs/extractors.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/model/__init__.py
  packages/core/minos-microservice-common/minos/common/model/fields.py
  packages/core/minos-microservice-common/minos/common/model/types/__init__.py
  packages/core/minos-microservice-common/minos/common/model/types/builders.py
  packages/core/minos-microservice-common/minos/common/model/types/model_types.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_declarative/test_avro.py
  packages/core/minos-microservice-common/tests/test_common/test_model/test_types/test_builders.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #98 * Increase coverage.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/entries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/testing/snapshot_repository.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
Due: minos-microservice-aggregate-check
