Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

minos-microservice-aggregate-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-aggregate check
  name: Check minos-microservice-aggregate
  language: system

minos-microservice-common-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-common check
  name: Check minos-microservice-common
  language: system

minos-microservice-cqrs-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-cqrs check
  name: Check minos-microservice-cqrs
  language: system

minos-microservice-networks-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-networks check
  name: Check minos-microservice-networks
  language: system

minos-microservice-saga-check:
  pass_filenames: false
  entry: make --directory=packages/core/minos-microservice-saga check
  name: Check minos-microservice-saga
  language: system

minos-broker-kafka-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-kafka check
  name: Check minos-broker-kafka
  language: system

minos-discovery-minos-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-discovery-minos check
  name: Check minos-discovery-minos
  language: system

kong-discovery-kong-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/kong-discovery-kong check
  name: Check kong-discovery-kong
  language: system

minos-http-aiohttp-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-http-aiohttp check
  name: Check minos-http-aiohttp
  language: system

minos-router-graphql-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-router-graphql check
  name: Check minos-router-graphql
  language: system

minos-broker-rabbitmq-check:
  pass_filenames: false
  entry: make --directory=packages/plugins/minos-broker-rabbitmq check
  name: Check minos-broker-rabbitmq
  language: system

ISSUE #367 * Clarify exception log.
  packages/core/minos-microservice-saga/minos/saga/manager.py
Due: minos-microservice-saga-check

ISSUE #367 * Fix broken tests. * Work on the multi-database case.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/pg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/pg.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #367 * Remove `aiopg` imports outside the related code.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/tests/config/v1.yml
  packages/core/minos-microservice-common/tests/config/v2.yml
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #367 * Minor improvements related with exceptions.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/pg.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/pg.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #367 * move streaming_mode management from `DatabaseClient` to `SnapshotReader`.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/readers.py
Due: minos-microservice-aggregate-check

ISSUE #367 * Add tests for `AiopgDatabaseClient`.
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_aiopg.py
Due: minos-microservice-common-check

ISSUE #367 * Increase coverage up to "100%". * Improve `Lock` API.
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/database/clients/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/clients/exceptions.py
  packages/core/minos-microservice-common/minos/common/database/locks.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_aiopg.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-saga-check

- Kubernetes not loading yet.
  tutorials/__init__.py
  tutorials/eboutique/__init__.py
  tutorials/eboutique/microservices/product/__init__.py
  tutorials/eboutique/microservices/product/tests/deployment.yaml
  tutorials/eboutique/microservices/product/tests/minos_testcase.py
  tutorials/eboutique/microservices/product/tests/test_kind.py
  tutorials/eboutique/microservices/product/tests/test_minos_testcase.py
Due: none

ISSUE #367 * Fix bug.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
Due: minos-microservice-aggregate-check

ISSUE #367 * Improve `DatabaseClient` class.
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
Due: minos-microservice-common-check

ISSUE #371 * Fix broken tests.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
Due: minos-microservice-aggregate-check

ISSUE #371 * Refactor `PostgreSqlTransactionRepository` as `DatabaseTransactionRepository`. * Add `TransactionRepositoryOperationFactory`. * Add `AiopgTransactionRepositoryOperationFactory`.
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
Due: minos-microservice-aggregate-check

ISSUE #367 * Improve `DatabaseClient`'s lock behavior.
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_aiopg.py
Due: minos-microservice-common-check

ISSUE #371 * Fix bug related with a query.
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/aiopg.py
Due: minos-microservice-aggregate-check

ISSUE #371 * Refactor `PostgreSqlBrokerSubscriberDuplicateValidator`.
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/pg.py
Due: minos-microservice-networks-check

ISSUE #367 * Remove `notifications` from `DatabaseClient`.
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
Due: minos-microservice-common-check, minos-microservice-networks-check

Restyled by black
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/__init__.py
Due: minos-microservice-networks-check

Restyled by isort
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/aiopg.py
Due: minos-microservice-networks-check

ISSUE #371 * Replace Postgres' listen/notify by `asyncio.Event`.
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
Due: minos-microservice-networks-check

ISSUE #371 * Refactor `PostgreSqlBrokerQueue`.
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
Due: minos-microservice-networks-check

ISSUE #371 * Minor change.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
Due: minos-microservice-aggregate-check

ISSUE #371 * Minor improvements.
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_handlers.py
Due: minos-microservice-networks-check, minos-router-graphql-check

ISSUE #371 * Add `AiopgSnapshotRepositoryOperationFactory`.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/queries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/readers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/writers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
Due: minos-microservice-aggregate-check

ISSUE #371 * Integrate `AiopgSnapshotRepositoryOperationFactory` and `PostgreSqlSnapshotQueryBuilder`.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/queries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
Due: minos-microservice-aggregate-check

ISSUE #371 * Rename classes.
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/api.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/queries.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/readers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/writers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_api.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
Due: minos-microservice-aggregate-check

ISSUE #371 * Rename classes (2).
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
Due: minos-microservice-aggregate-check

ISSUE #371 * Rename classes (3).
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
Due: minos-microservice-aggregate-check

ISSUE #371 * Add base classes. * Rename classes (4).
  packages/core/minos-microservice-networks/minos/networks/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/publisher.py
  packages/plugins/minos-broker-kafka/minos/plugins/kafka/subscriber.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #373
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/abc.py
  packages/core/minos-microservice-networks/minos/networks/decorators/definitions/http/abc.py
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_api.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_collectors.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/plugins/minos-router-graphql/minos/plugins/graphql/decorators.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: minos-microservice-networks-check, minos-router-graphql-check

Restyled by black
  packages/core/minos-microservice-networks/minos/networks/discovery/connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_api.py
  packages/core/minos-microservice-networks/tests/test_networks/test_decorators/test_collectors.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/plugins/minos-router-graphql/tests/test_graphql/test_decorators.py
  packages/plugins/minos-router-graphql/tests/utils.py
Due: minos-microservice-networks-check, minos-router-graphql-check

ISSUE #371 * Improve `DatabaseLock`. * Refactor `DatabaseClient.execute` method.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/readers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/writers.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/locks.py
  packages/core/minos-microservice-common/minos/common/database/locks/__init__.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/__init__.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/locks/impl.py
  packages/core/minos-microservice-common/minos/common/database/operations/aiopg.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #371 * Rename `query_factory` as `operation_factory`.
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
Due: minos-microservice-networks-check

ISSUE #371 * Minor improvements.
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
Due: minos-microservice-networks-check

ISSUE #371 * Minor improvements (2).
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
Due: minos-microservice-aggregate-check, minos-microservice-networks-check

ISSUE #371 * Add `DatabaseOperationFactory` base class. * Add `register_factory` adn `get_factory` methods to `DatabaseClient`.
  packages/core/minos-microservice-aggregate/minos/aggregate/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/aiopg/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/__init__.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/locks/impl.py
  packages/core/minos-microservice-common/minos/common/database/operations/__init__.py
  packages/core/minos-microservice-common/minos/common/database/operations/abc.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/aiopg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #371 * Now `timeout` and `lock` is managed by the `DatabaseClient` instead of by the `AiopgDatabaseClient`.
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/operations/abc.py
  packages/core/minos-microservice-common/minos/common/database/operations/aiopg.py
Due: minos-microservice-common-check

ISSUE #371 * Fix minor bugs.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/aiopg.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/locks/factories/abc.py
  packages/core/minos-microservice-common/minos/common/database/operations/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_aiopg.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #371 * Add `ManageDatabaseOperationFactory`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/manage/__init__.py
  packages/core/minos-microservice-common/minos/common/database/manage/factories.py
  packages/core/minos-microservice-common/minos/common/database/mixins.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/__init__.py
  packages/core/minos-microservice-networks/minos/networks/brokers/publishers/queued/queues/database.py
Due: minos-microservice-common-check, minos-microservice-networks-check

ISSUE #371 * Fix bugs.
  packages/core/minos-microservice-aggregate/tests/test_config.yml
  packages/core/minos-microservice-cqrs/tests/test_config.yml
  packages/core/minos-microservice-networks/tests/test_config.yml
  packages/plugins/minos-broker-kafka/tests/test_config.yml
Due: minos-microservice-aggregate-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-broker-kafka-check

ISSUE #371 * Rename `PostgresAsyncTestCase` as `DatabaseMinosTestCase`
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_api.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_services.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_services.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_aiopg.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_testing.py
  packages/core/minos-microservice-cqrs/tests/test_cqrs/test_services.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_clients.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_dispatchers/test_impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_pools.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_ports.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-broker-kafka-check

Path conditions:
  minos-microservice-aggregate-check: any of: ^packages/core/minos-microservice-aggregate/
  minos-microservice-common-check: any of: ^packages/core/minos-microservice-common/
  minos-microservice-cqrs-check: any of: ^packages/core/minos-microservice-cqrs/
  minos-microservice-networks-check: any of: ^packages/core/minos-microservice-networks/
  minos-microservice-saga-check: any of: ^packages/core/minos-microservice-saga/
  minos-broker-kafka-check: any of: ^packages/plugins/minos-broker-kafka/
  minos-discovery-minos-check: any of: ^packages/plugins/minos-discovery-minos/
  kong-discovery-kong-check: any of: ^packages/plugins/kong-discovery-kong/
  minos-http-aiohttp-check: any of: ^packages/plugins/minos-http-aiohttp/
  minos-router-graphql-check: any of: ^packages/plugins/minos-router-graphql/
  minos-broker-rabbitmq-check: any of: ^packages/plugins/minos-broker-rabbitmq/
