Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: minos-discovery-minos-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-discovery-minos check
                name: Check minos-discovery-minos
                files: ^packages/plugins/minos-discovery-minos/
                language: system

            -   id: kong-discovery-kong-check
                pass_filenames: false
                entry: make --directory=packages/plugins/kong-discovery-kong check
                name: Check kong-discovery-kong
                files: ^packages/plugins/kong-discovery-kong/
                language: system

            -   id: minos-http-aiohttp-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-http-aiohttp check
                name: Check minos-http-aiohttp
                files: ^packages/plugins/minos-http-aiohttp/
                language: system

            -   id: minos-router-graphql-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-router-graphql check
                name: Check minos-router-graphql
                files: ^packages/plugins/minos-router-graphql/
                language: system

            -   id: minos-broker-rabbitmq-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-rabbitmq check
                name: Check minos-broker-rabbitmq
                files: ^packages/plugins/minos-broker-rabbitmq/
                language: system

ISSUE #98 * Increase coverage (2).
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Increase coverage (3).
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Rename files.
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_database.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_queued/test_queues/test_database.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_database.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_database.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/collections/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/collections/queues.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/publishers/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/publishers/queues.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/subscribers/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/subscribers/queues.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/subscribers/validators.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_repositories.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_repository.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_repository.py
Due: minos-microservice-networks-check

ISSUE #98 * Rename files.
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/manage/__init__.py
  packages/core/minos-microservice-common/minos/common/database/managements/__init__.py
  packages/core/minos-microservice-common/minos/common/database/managements/factories.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-cqrs/tests/utils.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/common/__init__.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/common/managemens.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check

ISSUE #98 * Increase coverage.
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_common/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_common/test_locks.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_common/test_managements.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_collections/__init__.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_collections/test_queues.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_publishers/test_queues.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_subscribers/test_queues.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_subscribers/test_validators.py
Due: none

ISSUE #98 * Increase coverage. * Minor improvements.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/queries.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/transactions.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_queries.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_factory.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Rename methods.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/factories/abc.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/factories/abc.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/database/impl.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/transactions.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/collections/queues.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/subscribers/queues.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/subscribers/validators.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_events/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_transactions/test_factory.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_collections/test_queues.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_publishers/test_queues.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_subscribers/test_queues.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_networks/test_subscribers/test_validators.py
Due: minos-microservice-aggregate-check, minos-microservice-networks-check

ISSUE #98 * Rename `register_factory` as `set_factory`.
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-cqrs/tests/utils.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/events.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/snapshots/impl.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/aggregate/transactions.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/common/locks.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/common/managemens.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/publishers/queues.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/subscribers/queues.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/factories/networks/subscribers/validators.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check

Restyled by black
  packages/core/minos-microservice-networks/tests/utils.py
Due: minos-microservice-networks-check

Restyled by isort
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
Due: minos-microservice-aggregate-check

ISSUE #98 * Reformat code.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/factories/abc.py
  packages/core/minos-microservice-networks/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-networks-check

ISSUE #98 * Add `ProgrammingException`. * Rename `UnableToConnectException` as `ConnectionException`.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_repositories/test_database.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_database.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/exceptions.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_clients/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_factories/test_aggregate/test_snapshots/test_repository.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #98 * Ignore code duplication on `testing` module.
  .sonarcloud.properties
Due: none

ISSUE #98 * Raise a `MinosConfigException` when requested database does not exist.
  packages/core/minos-microservice-common/minos/common/config/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
Due: minos-microservice-common-check

ISSUE #98 * Add support for multiple databases.
  packages/core/minos-microservice-aggregate/minos/aggregate/events/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/database/impl.py
  packages/core/minos-microservice-aggregate/minos/aggregate/transactions/repositories/database/impl.py
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/mixins.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/tests/config/v2.yml
  packages/core/minos-microservice-common/tests/test_common/test_database/test_mixins.py
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/database/impl.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/filtered/validators/duplicates/database/impl.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #98 * Be resilient to undefined saga config.
  packages/core/minos-microservice-saga/minos/saga/executions/storage.py
Due: minos-microservice-saga-check

ISSUE #98 * Update `README.md`.
  packages/plugins/minos-database-aiopg/README.md
Due: none

ISSUE #98 * Fix minor bugs.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/__init__.py
  packages/plugins/minos-database-aiopg/poetry.lock
  packages/plugins/minos-database-aiopg/pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

ISSUE #99 * Add `minos-database-lmdb` package skeleton
  .github/workflows/minos-database-lmdb-publish.yml
  .github/workflows/minos-database-lmdb-tests.yml
  packages/plugins/minos-database-lmdb/AUTHORS.md
  packages/plugins/minos-database-lmdb/HISTORY.md
  packages/plugins/minos-database-lmdb/LICENSE
  packages/plugins/minos-database-lmdb/Makefile
  packages/plugins/minos-database-lmdb/README.md
  packages/plugins/minos-database-lmdb/RUNTHETESTS.md
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/__init__.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/factories/__init__.py
  packages/plugins/minos-database-lmdb/poetry.lock
  packages/plugins/minos-database-lmdb/poetry.toml
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-database-lmdb/setup.cfg
  packages/plugins/minos-database-lmdb/tests/__init__.py
  packages/plugins/minos-database-lmdb/tests/test_config.yml
  packages/plugins/minos-database-lmdb/tests/test_lmdb/__init__.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_factories/__init__.py
  packages/plugins/minos-database-lmdb/tests/utils.py
Due: none

ISSUE #99 * Add `minos-database-lmdb` classes skeleton
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/database/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/database/factories.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/__init__.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/clients.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/factories/saga/__init__.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/factories/saga/executions.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/operations.py
  packages/plugins/minos-database-lmdb/poetry.lock
  packages/plugins/minos-database-lmdb/pyproject.toml
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_clients.py
Due: minos-microservice-saga-check

ISSUE #99 * Add `minos-database-lmdb` to pre-commit config.
  .pre-commit-config.yaml
Due: none

ISSUE #99 * Add initial implementation of the `LmdbDatabaseClient`.
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/clients.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/operations.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_clients.py
Due: none

ISSUE #99 * Refactor `SagaExecutionStorage` as `SagaExecutionRepository`. * Add `DatabaseSagaExecutionRepository`.
  packages/core/minos-microservice-saga/minos/saga/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/abc.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/__init__.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/factories.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/impl.py
  packages/core/minos-microservice-saga/minos/saga/executions/storage.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/__init__.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_databases/__init__.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_databases/test_impl.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_storage.py
  packages/core/minos-microservice-saga/tests/test_saga/test_manager.py
Due: minos-microservice-saga-check

ISSUE #99 * Add `minos.saga.testing` module. * Implement `LmdbSagaExecutionDatabaseOperationFactory`.
  packages/core/minos-microservice-saga/minos/saga/definitions/steps/abc.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/factories.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/impl.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
  packages/core/minos-microservice-saga/minos/saga/manager.py
  packages/core/minos-microservice-saga/minos/saga/testing.py
  packages/core/minos-microservice-saga/tests/config.yml
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_databases/test_impl.py
  packages/core/minos-microservice-saga/tests/test_saga/test_manager.py
  packages/core/minos-microservice-saga/tests/utils.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/clients.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/factories/saga/executions.py
  packages/plugins/minos-database-lmdb/tests/test_config.yml
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_factories/test_saga/__init__.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_factories/test_saga/test_repositories.py
Due: minos-microservice-saga-check

ISSUE #? * Improve integration between `ConfigV1` and `PoolFactory`. * Minor improvements.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/repositories/abc.py
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/minos/networks/brokers/pools.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check

ISSUE #99 * Minos change
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/__init__.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_clients.py
Due: none

ISSUE #99 * Add docstring.
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/abc.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/factories.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/clients.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/factories/saga/executions.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/operations.py
Due: minos-microservice-saga-check

ISSUE #99 * Add tests for `SagaExecutionRepository`.
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_abc.py
Due: minos-microservice-saga-check

ISSUE #99 * Add tests for `LmdbSagaExecutionDatabaseOperationFactory`.
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_database/__init__.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_database/test_factories.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_database/test_impl.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_factories/test_saga/test_factories.py
Due: minos-microservice-saga-check

ISSUE #99 * Remove `lmdb` dependency from `minos-microservice-common`. * Remove `MinosStorage` and `MinosStorageLmdb` classes from `minos-microservice-common`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/storage/__init__.py
  packages/core/minos-microservice-common/minos/common/storage/abc.py
  packages/core/minos-microservice-common/minos/common/storage/lmdb.py
  packages/core/minos-microservice-common/poetry.lock
  packages/core/minos-microservice-common/pyproject.toml
  packages/core/minos-microservice-common/tests/test_common/test_storage/__init__.py
  packages/core/minos-microservice-common/tests/test_common/test_storage/test_lmdb.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_database/test_factories.py
Due: minos-microservice-common-check, minos-microservice-saga-check

ISSUE #99 * Add support for handling of not found cases to `LmdbDatabaseClient`.
  packages/core/minos-microservice-common/minos/common/database/mixins.py
  packages/core/minos-microservice-saga/minos/saga/executions/repositories/database/impl.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_repositories/test_database/test_impl.py
  packages/core/minos-microservice-saga/tests/test_saga/test_manager.py
  packages/plugins/minos-database-lmdb/minos/plugins/lmdb/clients.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_clients.py
  packages/plugins/minos-database-lmdb/tests/test_lmdb/test_factories/test_saga/test_factories.py
Due: minos-microservice-common-check, minos-microservice-saga-check

ISSUE #99 * Minor improvement.
  packages/plugins/minos-database-lmdb/README.md
Due: none

ISSUE #390
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/poetry.lock
  packages/plugins/minos-discovery-kong/pyproject.toml
  packages/plugins/minos-discovery-kong/tests/test_config.yml
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

Restyled by black
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

Restyled by isort
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

ISSUE #43 * Implement circuit breaker for `aiopg` connection failures.
  packages/plugins/minos-database-aiopg/minos/plugins/aiopg/clients.py
  packages/plugins/minos-database-aiopg/tests/test_aiopg/test_clients.py
Due: none

ISSUE #390
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
  packages/plugins/minos-discovery-kong/minos/plugins/kong/discovery.py
  packages/plugins/minos-discovery-kong/tests/test_kong/test_client.py
Due: none

ISSUE #390
  packages/plugins/minos-discovery-kong/minos/plugins/kong/client.py
Due: none
