Repository minos-framework/minos-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-cqrs-check, minos-microservice-networks-check, minos-microservice-saga-check, minos-broker-kafka-check, minos-discovery-minos-check, kong-discovery-kong-check, minos-http-aiohttp-check, minos-router-graphql-check, minos-broker-rabbitmq-check

.pre-commit-config.yaml:

repos:
    -   repo: local
        hooks:

            -   id: minos-microservice-aggregate-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-aggregate check
                name: Check minos-microservice-aggregate
                files: ^packages/core/minos-microservice-aggregate/
                language: system

            -   id: minos-microservice-common-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-common check
                name: Check minos-microservice-common
                files: ^packages/core/minos-microservice-common/
                language: system

            -   id: minos-microservice-cqrs-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-cqrs check
                name: Check minos-microservice-cqrs
                files: ^packages/core/minos-microservice-cqrs/
                language: system

            -   id: minos-microservice-networks-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-networks check
                name: Check minos-microservice-networks
                files: ^packages/core/minos-microservice-networks/
                language: system

            -   id: minos-microservice-saga-check
                pass_filenames: false
                entry: make --directory=packages/core/minos-microservice-saga check
                name: Check minos-microservice-saga
                files: ^packages/core/minos-microservice-saga/
                language: system

            -   id: minos-broker-kafka-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-kafka check
                name: Check minos-broker-kafka
                files: ^packages/plugins/minos-broker-kafka/
                language: system

            -   id: minos-discovery-minos-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-discovery-minos check
                name: Check minos-discovery-minos
                files: ^packages/plugins/minos-discovery-minos/
                language: system

            -   id: kong-discovery-kong-check
                pass_filenames: false
                entry: make --directory=packages/plugins/kong-discovery-kong check
                name: Check kong-discovery-kong
                files: ^packages/plugins/kong-discovery-kong/
                language: system

            -   id: minos-http-aiohttp-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-http-aiohttp check
                name: Check minos-http-aiohttp
                files: ^packages/plugins/minos-http-aiohttp/
                language: system

            -   id: minos-router-graphql-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-router-graphql check
                name: Check minos-router-graphql
                files: ^packages/plugins/minos-router-graphql/
                language: system

            -   id: minos-broker-rabbitmq-check
                pass_filenames: false
                entry: make --directory=packages/plugins/minos-broker-rabbitmq check
                name: Check minos-broker-rabbitmq
                files: ^packages/plugins/minos-broker-rabbitmq/
                language: system

Restyled by isort
  packages/core/minos-microservice-aggregate/tests/utils.py
Due: minos-microservice-aggregate-check

ISSUE #346 * Minor fixes.
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/testing.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #346 * Update `DependencyInjector` tests.
  packages/core/minos-microservice-common/tests/test_common/test_injections/test_injectors.py
Due: minos-microservice-common-check

ISSUE #346 * Update `DatabaseMixin` tests.
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
Due: minos-microservice-common-check

ISSUE #346 * Fix all broken tests.
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/locks.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_parameterized.py
  packages/core/minos-microservice-networks/minos/networks/brokers/pools.py
Due: minos-microservice-common-check, minos-microservice-networks-check

Restyled by black
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
Due: minos-microservice-common-check

Restyled by isort
  packages/core/minos-microservice-common/minos/common/database/pools.py
Due: minos-microservice-common-check

ISSUE #346 * Improve tests.
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-saga/tests/utils.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_publisher.py
  packages/plugins/minos-broker-kafka/tests/test_kafka/test_subscriber.py
Due: minos-microservice-common-check, minos-microservice-saga-check, minos-broker-kafka-check

ISSUE #346 * Rename `MinosTestCase` as `MinosSagaTestCase`.
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_commit.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_executors/test_abc.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_executors/test_local.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_executors/test_request.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_executors/test_response.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_execute.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_local.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_storage.py
  packages/core/minos-microservice-saga/tests/test_saga/test_manager.py
  packages/core/minos-microservice-saga/tests/test_saga/test_middleware.py
  packages/core/minos-microservice-saga/tests/test_saga/test_services.py
  packages/core/minos-microservice-saga/tests/test_saga/test_utils.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-saga-check

ISSUE #346 * Rename `MinosTestCase` as `AggregateTestCase`.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_aggregate.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_broker.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_differences.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_not_provided.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_injectors.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_resolvers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_fields.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_memory.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_api.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_services.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_memory.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_services.py
  packages/core/minos-microservice-aggregate/tests/testcases/event_repository.py
  packages/core/minos-microservice-aggregate/tests/utils.py
Due: minos-microservice-aggregate-check

ISSUE #346 * Rename `MinosSagaTestCase` as `SagaTestCase`.
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_commit.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_executors/test_abc.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_executors/test_local.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_executors/test_request.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_executors/test_response.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_execute.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_saga/test_raw.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_conditional.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_local.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_steps/test_remote.py
  packages/core/minos-microservice-saga/tests/test_saga/test_executions/test_storage.py
  packages/core/minos-microservice-saga/tests/test_saga/test_manager.py
  packages/core/minos-microservice-saga/tests/test_saga/test_middleware.py
  packages/core/minos-microservice-saga/tests/test_saga/test_services.py
  packages/core/minos-microservice-saga/tests/test_saga/test_utils.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-saga-check

ISSUE #346 * Rename `MinosTestCase` as `CommonTestCase`.
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-saga-check

ISSUE #346 * Reformat code.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_base.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_broker.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_differences.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_not_provided.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_refs/test_injectors.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_fields.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_models.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_memory.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_api.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_entries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_services.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #363
  packages/plugins/minos-discovery-kong/README.md
Due: none

ISSUE #346 * Improve tests.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_entities/test_models/test_root/test_with_postgresql.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_api.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_services.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_services.py
  packages/core/minos-microservice-aggregate/tests/utils.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v1/test_base.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_parameterized.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  packages/core/minos-microservice-common/tests/utils.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_clients.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_collections/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_dispatchers/test_impl.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_handlers/test_ports.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_pools.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_publishers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_filtered/test_validators/test_duplicates/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_brokers/test_subscribers/test_queued/test_queues/test_pg.py
  packages/core/minos-microservice-networks/tests/test_networks/test_discovery/test_connectors.py
  packages/core/minos-microservice-networks/tests/test_networks/test_scheduling/test_ports.py
  packages/core/minos-microservice-networks/tests/utils.py
  packages/core/minos-microservice-saga/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check, minos-microservice-networks-check, minos-microservice-saga-check

ISSUE #346 * Increase coverage.
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_testing.py
Due: minos-microservice-common-check

ISSUE #346 * Refactor `PostgresAsyncTestCase`.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_abc.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_queries.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_launchers.py
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
  packages/core/minos-microservice-common/tests/utils.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #346 * Fix broken tests.
  .github/workflows/minos-microservice-common-tests.yml
Due: none

ISSUE #346 * Increase coverage. * Fix bug related with `PostgresAsyncTestCase`.
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_testing.py
Due: minos-microservice-common-check

ISSUE #346 * Minor improvements.
  packages/core/minos-microservice-common/minos/common/config/v2.py
  packages/core/minos-microservice-common/tests/test_common/test_config/test_v2/test_base.py
Due: minos-microservice-common-check

ISSUE #346 * Increase coverage.
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
Due: minos-microservice-common-check

ISSUE #346 * Add missing docstring.
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/locks.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_pools.py
Due: minos-microservice-common-check

ISSUE #346 * Add retro-compatibility.
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
Due: minos-microservice-common-check

ISSUE #367 * Minor changes.
  packages/core/minos-microservice-aggregate/minos/aggregate/snapshots/pg/readers.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
Due: minos-microservice-aggregate-check, minos-microservice-networks-check

ISSUE #367 * Working on clients.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/locks.py
  packages/core/minos-microservice-common/minos/common/database/operations/__init__.py
  packages/core/minos-microservice-common/minos/common/database/operations/abc.py
  packages/core/minos-microservice-common/minos/common/database/operations/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/minos/common/setup.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_locks.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
Due: minos-microservice-common-check

ISSUE #367 * Use `AiopgDatabaseClient` directly on `PostgresAsyncTestCase`.
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_testing.py
Due: minos-microservice-common-check

Restyled by isort
  packages/core/minos-microservice-common/minos/common/testing.py
Due: minos-microservice-common-check

ISSUE #346 * Fix bug related with a blocking status related with pool dependencies.
  packages/core/minos-microservice-common/minos/common/pools.py
Due: minos-microservice-common-check

ISSUE #367 * Reformat code.
  packages/core/minos-microservice-common/minos/common/testing.py
Due: minos-microservice-common-check

ISSUE #367 * Minor change.
  packages/core/minos-microservice-common/minos/common/database/pools.py
Due: minos-microservice-common-check

ISSUE #367 * Remove accessors from `DatabaseMixin`.
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_events/test_repositories/test_pg.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_readers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_snapshots/test_pg/test_writers.py
  packages/core/minos-microservice-aggregate/tests/test_aggregate/test_transactions/test_repositories/test_pg.py
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_abc.py
Due: minos-microservice-aggregate-check, minos-microservice-common-check

ISSUE #367 * Add state to `AiopgDatabaseClient`.
  packages/core/minos-microservice-common/minos/common/database/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/locks.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/minos/common/pools.py
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
  packages/core/minos-microservice-networks/minos/networks/brokers/subscribers/queued/queues/pg.py
Due: minos-microservice-common-check, minos-microservice-networks-check

ISSUE #367 * Remove deprecated properties.
  packages/core/minos-microservice-common/minos/common/testing.py
  packages/core/minos-microservice-common/tests/test_common/test_testing.py
Due: minos-microservice-common-check

ISSUE #367 * Fix minor bugs.
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
Due: minos-microservice-common-check

ISSUE #367 * Restrict max concurrency.
  packages/core/minos-microservice-networks/minos/networks/brokers/handlers/impl.py
  packages/core/minos-microservice-networks/minos/networks/http/connectors.py
  packages/core/minos-microservice-saga/minos/saga/executions/saga.py
Due: minos-microservice-networks-check, minos-microservice-saga-check

Restyled by isort
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
Due: minos-microservice-common-check

ISSUE #367 * Reformat code.
  packages/core/minos-microservice-common/minos/common/database/clients/aiopg.py
Due: minos-microservice-common-check

ISSUE #367 * Add `DatabaseClientBuilder`.
  packages/core/minos-microservice-common/minos/common/__init__.py
  packages/core/minos-microservice-common/minos/common/database/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/__init__.py
  packages/core/minos-microservice-common/minos/common/database/clients/abc.py
  packages/core/minos-microservice-common/minos/common/database/operations/__init__.py
  packages/core/minos-microservice-common/minos/common/database/operations/abc.py
  packages/core/minos-microservice-common/minos/common/database/operations/aiopg.py
  packages/core/minos-microservice-common/minos/common/database/pools.py
  packages/core/minos-microservice-common/tests/test_common/test_database/test_pools.py
  packages/core/minos-microservice-common/tests/test_common/test_testing.py
Due: minos-microservice-common-check

ISSUE #367 * Add support for `DatabaseClient` setup from config file.
  packages/core/minos-microservice-common/minos/common/config/v1.py
  packages/core/minos-microservice-common/minos/common/config/v2.py
Due: minos-microservice-common-check

ISSUE #367 * Remove unnecessary transaction.
  packages/core/minos-microservice-networks/minos/networks/brokers/collections/queues/pg.py
Due: minos-microservice-networks-check
